@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main {
        @apply font-roboto;
    }
}

@layer components {
    .navList-welcome {
        @apply text-gray-600 hover:text-gray-400 font-semibold relative inline-block;
    }
    .navList-welcome::after {
        @apply content-[''] absolute -bottom-0.5 left-0 w-0 h-[4px] bg-gradient-to-r from-blue-400 to-blue-600 transition-all duration-500 ease-in-out;
    }
    .navList-welcome:hover::after {
        @apply w-full;
    }
}

@layer utilities {
    /* Navbar Welcome */
    .nav-welcome {
        @apply w-full px-6 py-4 bg-white shadow-md;
    }

    .mobile-menu {
        @apply transition-all duration-300;
    }
}

#mobile-menu {
    transform: translateY(-100%);
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 40;
}

#mobile-menu.active {
    clip-path: inset(0 0 0 0);
    transform: translateY(0);
    visibility: visible;
    transition: clip-path 0.3s ease-in-out;
}

.fade-slide-enter {
    opacity: 0;
    transform: translateY(20px);
}
.fade-slide-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}
.fade-slide-exit {
    opacity: 1;
    transform: translateY(0);
}
.fade-slide-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 500ms, transform 500ms;
}
